/* .home-body {
    margin-top: 200px;
    background-color: white;
}

.laptop {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.6) translate(-50%); 
    transform: scale(.6) translate(-50%); 
    left: 50%;
    position: absolute;
    width: 1366px;
    height: 800px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 24px 24px 80px;
    background-color: black;
  
  }

  .laptop:after {
    content: '';
    display: block;
    position: absolute;
    width: 1600px;
    height: 60px;
    margin: -27px 0 0 -140px;
    background: black;
    border-radius: 6px;
  }

  .laptop:before {
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 30px;
    bottom: -110px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
  }

  .laptop .content {
    width: 1366px;
    height: 800px;
    overflow: hidden;
    border: none;
  } */

  .bodycontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

  }

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  #homeh1 {
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
  }

  #homeh1:hover {
    cursor: pointer;
  }

  #h1style {
    color:rgba(126, 126, 126, 0.986);
    margin-left: 35px;
  }

  .scrolldown {
    position:absolute;
    left: 49%;
    bottom: 200px;
    cursor: pointer;
}
.scrolldown:hover{
  color:whitesmoke;
}
.scrolldown1 {
  position:absolute;
  left: 49.28%;
  bottom: 210px;
  cursor: pointer;
}
.scrolldown1:hover{
  color:purple;
}

